
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-md-4" *ngFor="let blog of allBlogs">
        <div class="card" style="width: 18rem;">
    
            <div class="card-body text-center">
              <h5 class="card-title">{{blog.title|uppercase}}</h5>
              <p class="card-text"> {{blog.description}}</p>
              <p> Post On:{{blog.create|date:'dd/MM/yyyy'}}<br>{{blog.author}} </p>
              <a [routerLink]="['/blog',blog.blogId]" class="btn btn-primary">Read More</a>
            </div>
          </div>
    </div>
  </div>
